:root{
    --main-color:#8e44ad;
    --red:#e74c3c;
    --orange:#f39c12;
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border: .1rem solid rgba(0,0,0,.2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
*::selection{
    background-color: var(--main-color);
    color: #fff;
}
*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
 body {
    background-color: var(--light-bg);
    padding-left : 30rem;
}
body.dark{
    --white:#222;
    --black:#fff;
    --light-color:#aaa;
    --light-bg:#222;
    --border:1rem solid rgba(255,255,255,.2);
}
body.active{
    padding-left: 0;
}
section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color:#fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}
.btn,
.option-btn,
.delete-btn{
    display: block;
    width: 100%;
}
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
}
.btn,
.inline-btn{
    background-color:var(--main-color);
      
}

.option-btn,
.inline-option-btn{
    background-color:var(--orange);
   
   
}
.delete-btn,
.inline-delete-btn{
    background-color: var(--red);
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: var(--black);
    color: var(--white);
}
.flex-btn{
   display: flex;
   gap: 1rem;
  
}

.heading{
    padding-bottom: 1.8rem;
    border-bottom: var(--border);
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.header{
    background-color: var(--white);
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   
}
.flex{
  padding:1.5rem 2rem ;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo{
    font-size: 2.5rem;
    color:#222;
    
    font-weight: bolder;
}
.search-form{
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--light-bg);
}
.search-form input{
    width: 100%;
    background: none;
    font-size: 2rem;
    color: var(--black);
}
.search-form button{
    font-size: 2rem;
    color:var(--black) ;
    cursor: pointer;
    background: none;
}
.search-form button:hover{
    color: var(--main-color);
}
.icons div{
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    background-color: var(--light-bg);
    text-align: center;
    margin-left: .5rem;
}
.icons div:hover{
    background-color: var(--black);
    color: var(--white);
}
#search-btn{
    display: none;
}
.profile{
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 30rem;
   
    transform: scale(0);
    transform-origin: top right;
   
}
.profile.active{
    transform: scale(1);
    transition: .2s linear ;
}
.profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.profile h3{
    font-size: 2.5rem;
    color: #222;
   
}
.profile span{
    color: var(--light-color);
    font-size: 1.6rem;
    
}
.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
   z-index: 1200;

}

.close-side-bar{ 
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
}
.close-side-bar i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2rem;
    color:#fff;
    cursor: pointer;
    background-color: var(--red);
    text-align: center;
    border-radius: .5rem;
}
.close-side-bar i:hover{
    background-color: var(--black);
}
.side-profile {
    padding: 3rem 2rem;
    text-align: center;
}
 .side-profile img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;

}
.side-profile h3 {
    font-size: 2rem;
    color: var(--black);
}
.side-profile span {
    color: var(--light-color);
    font-size: 1.6rem;
}
.navbar{
    margin-top: 1rem;
}
.navbar a{
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}

.navbar a i{
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .2s linear;
}

.navbar a span{
    color: var(--light-color);
}
.navbar a:hover{
    background-color: var(--light-bg);
}
.navbar a:hover i{
    margin-right: 2.5rem;
}


.side-bar.active{
    left: -31rem;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27.5rem,1fr));
    gap: 1.5rem;
    align-items:flex-start;
    justify-content: center;
}
.box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;
    
}
.title{
    font-size: 2rem;
    color: var(--black);
}
.box p{
    line-height: 1.5;
    padding-top: 1.5rem;
    color: var(--light-color);
    font-size: 1.8rem;
}
.box p span{
    columns: var(--main-color);
}
.tutor{
    text-align: center;
}
.tutor p{
    padding-bottom: 1rem;
}
.flex{
   
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}
.flex a{
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    background-color: var(--light-bg);
}
 .flex a i{
    margin-right: 1rem;
    color: var(--black);
}
 .flex a span{
    color: var(--light-color);
}
 .flex a:hover{
    background-color: var(--black);
}

.flex a:hover i{
    color: var(--white);
}
 .flex a:hover span{
    color: var(--white);
}
.box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(29rem,1fr));
    gap: 1.5rem;
    align-items:flex-start;
    justify-content: center;

}
.box2{
    
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2.5rem;
    

   
}
.thumb{
     
    border-radius: .5rem;
   
    object-fit: cover;
}
.tutor2 img{
    width: 30%;
}
.title2{
    font-size: 25px;
}
.more-btn{
    margin-top: 2rem;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.image{
    flex: 1 1 40rem;
}
.image img{
    width: 100%;
    height: 50rem;
}
.content{
    flex: 1 1 40rem;
    text-align: center;
}
.content h3{
    font-size: 2.5rem;
    color: var(--black);
}
.content p{
    line-height: 2;
    font-size: 1.7rem;
    color: var(--light-color);
    padding:1rem 0 ;
}
.box-container3{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.box3{
    flex: 1 1 25rem;
    display: flex;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
}
.box3 i{
    font-size: 3rem;
    color: var(--black);
}
.box3 h3{
    color: var(--main-color);
    font-size: 2.5rem;
    margin-bottom: .2rem;
}
.box3 span{
    font-size: 1.6rem;
    color: var(--light-color);
}
.box-container4{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.box4{
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--white);
    padding-top: 1.5rem;
}
.box4 p{
    line-height: 2;
    font-size: 1.7rem;
    color: var(--light-color);
}
.user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
.user h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .2rem;
}
.stars i{
    color: var(--main-color);
    font-size: 1.5rem;
}
.user img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}






















.footer{
    position: sticky;
    bottom: 0; right: 0;left: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2.5rem 2rem;
    text-align: center;
    color: var(--black);
    font-size: 1.5rem;
    margin-top: 2rem;
    z-index: 1000;
}
.footer span{
    color: var(--main-color);
}















































@media (max-width:1200px){
    body{
        padding-left: 0;
    }
    .side-bar{
        transition: .2s linear;
        left: -30rem;
    }
    .side-bar.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    }
  .close-side-bar{
    display: block;
  }
}


@media (max-width:991px){
    html{
        font-size: 55%;
    }
}
@media (max-width:768px){
    #search-btn{
       display: inline-block;
    }
    .search-form{
        position: absolute;
        top: 99%; left: 0;right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
        
    }
    .search-form.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2rem;
    }
    .flex-btn{
        flex-flow: column;
        gap: 0;
    }
    .image img{
        
        height:auto;
    }
    
}
